<div class="bc">
  <div class="container">
  
    <h2 *ngIf="!currentProduct" class="edit__title">товары</h2>
    <label *ngIf="!currentProduct" class="edit__label" for="input_text">Поиск по названию</label><br>
    <input [formControl]="nameProduct" *ngIf="!currentProduct" class="edit__input" id="input_text" type="text" placeholder="Введите название товара" [(ngModel)]="productsName">
   
    
    <div *ngIf="!currentProduct" class="card__wrap">
      
      <div class="card" *ngFor="let product of products | search:productsName">
        <div class="card__img_wrap">
          <img class="card__img" src="{{product.photo}}" alt="{{product.name}}">
        </div>
        <div class="card__desc_wrap">
          <p class="card__title">{{product.name}}</p>
          <p class="card__price">{{product.price}} ₽</p>
          <button (click)="setActiveProduct(product)" class="btn btn__edit">редактировать</button>
          <button (click)="deleteProduct(product)" class="btn btn__edit">удалить</button>
        </div>
      </div>
    </div>
    
    <div *ngIf="currentProduct" style="width: 100%; height: 100%;">
      <div class="card_edit">
        <div (click)="closeModal()" class="close"></div>
        <div class="img__edit">
          <img  src="{{currentProduct.photo}}" alt="{{currentProduct.name}}">
        </div>
                
        <form [formGroup]="form" class="form-product"> 
          <div>
            <div class="form-control">
              <label for="name">Название</label>
              <input id="name" type="text" formControlName="name">
            </div>
            <div class="form-control">
                <label for="price">Цена</label>
                <input id="price" name="price" type="number" formControlName="price">
            </div>  
          </div> 
          <button [disabled]="form.invalid" class="form-btn btn" (click)="updateProduct(currentProduct)">Сохранить</button>
      </form>
    
    
      
      </div>
    </div>
  </div>
</div>