<header class="header">
    <div class="container">
        <nav class="menu__nav">
            <div>
                <a routerLink="/">
                    <img class="header__logo" src="../../assets/img/logo.png" alt="logo">
                </a>
                <ul class="menu__list">
                    <li (click)="closeModal()" class="close"><img src="../../assets/img/close.png" alt="close"></li>
                    <li><a (click)="closeModal()" class="main__link" routerLink="/">Главная</a> </li>
                    <li><a (click)="closeModal()" routerLink="/products">Конструкторы</a> </li>
                    <li><a (click)="closeModal()" routerLink="/products">Аксессуары</a></li>
                    <li><a (click)="closeModal()" routerLink="/products">Эксклюзивы</a></li>
                    <li><a (click)="closeModal()" routerLink="/products">Новинки</a></li>
                    <li class="header__social">
                        <div class="social__icon">
                            <img class="img_black" src="../../assets/img/instagram.png" alt="instagram">
                            <img class="img_white" src="../../assets/img/instagram_white.png" alt="instagram">
                        </div>
                        <div class="social__icon">
                            <img class="img_black" src="../../assets/img/facebook.png" alt="facebook">
                            <img class="img_white" src="../../assets/img/facebook_white.png" alt="facebook">
                        </div>
                        <div class="social__icon">
                            <img class="img_black" src="../../assets/img/youtube.png" alt="youtube">
                            <img class="img_white" src="../../assets/img/youtube_white.png" alt="youtube">
                        </div>
                        <div class="social__icon">
                            <a href="https://github.com/lexa9203" title="GitHub/lego_shop" target="_blank">
                                <img class="img_black" src="../../assets/img/git.png" alt="github">
                                <img class="img_white" src="../../assets/img/git_white.png" alt="github">
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <ul class="menu__list account">
                <li><a routerLink="/cart"><img src="../../assets/img/basket.png" alt="cart"><span>Корзина</span> </a></li>
            </ul>
            <ul class="menu__list_img">
                <img (click)="openModal()" class="burger" src="../../assets/img/menu.png" alt="burger">
                <img routerLink="/cart" src="../../assets/img/basket.png" alt="basket">
            </ul>
        </nav>
    </div>
</header>

<router-outlet></router-outlet>

<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__logo">
                <img src="../../assets/img/logo.png" alt="logo">
            </div>
            <div class="footer__content">
                <div class="footer__col">
                    <div class="content__title">КОНСТРУКТОРЫ</div>
                    <ul>
                        <li>Коллекционные наборы</li>
                        <li>4+</li>
                        <li>ART</li>
                        <li>Architecture</li>
                        <li>Batman Movie</li>
                        <li>Boost</li>
                        <li>BrickHeadz</li>
                    </ul>
                </div>
                <div class="footer__col">
                    <div class="content__title">АКСЕССУАРЫ</div>
                    <ul>
                        <li>Рюкзаки и сумки</li>
                        <li>Канцтовары</li>
                        <li>Чемоданы</li>
                        <li class="footer__list_empty"></li>
                        <li>Пончо</li>
                        <li>Подарочные наборы</li>
                        <li>Оружие детское</li>
                    </ul>
                </div>
                <div class="footer__col">
                    <div class="content__title">О КОМПАНИИ</div>
                    <ul>
                        <li>О нас</li>
                        <li>Акции</li>
                        <li>Новости</li>
                        <li>Мероприятия</li>
                    </ul>
                </div>
            </div>
            <div class="footer__social">
                <p class="social__title">ПРИСОЕДИНЯЙТЕСЬ К НАМ В СОЦСЕТЯХ</p>
                <div class="wrapper__icon">
                    <div class="social__icon">
                        <img src="../../assets/img/instagram.png" alt="instagram">
                    </div>
                    <div class="social__icon">
                        <img src="../../assets/img/facebook.png" alt="facebook">
                    </div>
                    <div class="social__icon">
                        <img src="../../assets/img/youtube.png" alt="youtube">
                    </div>
                    <div class="social__icon">
                        <a href="https://github.com/lexa9203" title="GitHub/lego_shop" target="_blank">
                            <img src="../../assets/img/git.png" alt="github">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
