.promo{
    height: 500px;
    margin-top: 70px;
    background-color: black;
    overflow: hidden;
    position: relative;
}
.slider{
    display: inline-block;
    height: 500px;
    width: 100%;
    position: relative;
}
.promo__content{
    height: 500px;
}
.slider__item img{
    width: 100%;
}
.slider__item{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0;
    transform: translateX(-1000px);
    transition: all ease 1s;
}
.promo__text{
    color: #F0F0F0;
    font-size: 22px;
    margin-left: 120px;
    width: 420px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.promo__header{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 900;
}
.promo__about{
    padding-top: 10px;
}
.mobile__slider{
    display: none;
}
.img__wrapper{
    height: 100%;
    display: flex;
    align-items: center;
}
@media screen and (max-width:1300px) {
    .promo>.container{
        padding: 0;
    }
    .promo__header{
        font-size: 35px;
    }
    .promo__text{
        font-size: 20px;
    }
}
@media screen and (max-width:1100px) {
    .promo, .slider, .promo__content{
        height: 430px;
    }
}
@media screen and (max-width:950px) {
    .promo, .slider, .promo__content{
        height: 370px;
    }
    .promo__text{
        margin-left: 65px;
        width: 350px;
    }
}
@media screen and (max-width:768px) {
    .promo, .slider, .promo__content{
        height: 310px;
    }
    .promo__header{
        font-size: 20px;
    }
    .promo__text{
        font-size: 16px;
        margin-left:25px;
        width: 250px;
    }
}
@media screen and (max-width:720px){
    .promo{
        margin-top: 50px;
    }
}
@media screen and (max-width:580px) {
    .mobile__slider{
        display: block;
    }
    .desktop__slider{
        display: none;
    }
    .slider__item{
        width: 100%;
    }
}
@media screen and (max-width:450px){
    .promo__about{
        display: none;
    }
    .promo__text{
        width: 150px;
    }
    .promo__text{
        top:35%;
    }
}


.search{
    background-color: #E5E5E5;
    min-height: 350px;
    padding: 70px 0 50px;
    position: relative;
}
.search>.container{
    padding: 0 185px;
}
.search__check{
    width: 45%;
}
.search__img{
    position: absolute;
    right: 3%;
    bottom: -60px;
}
.search__img>img{
    width: 90%;
}
.title{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;
    padding-bottom: 50px;
}
.search__inputs{
    font-weight: 600;
    display: flex;
    justify-content: space-around;
}
.check__category{
    display: flex;
    flex-direction: column;
}
.wrap__check_category{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.wrap__check_category>div{
    width:170px
}
input[type='radio']{
    margin-right: 8px;
    margin-left: 1px;
    border:2px solid #C4C4C4;
    cursor: pointer;
}
input[type='radio']:after {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffffff;
    content: '';
    display: inline-block;
    visibility: visible;
    border:2px solid #C4C4C4;
    cursor: pointer;
}

input[type='radio']:checked:after {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #FEC341;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
    cursor: pointer;
}
/* search */
/* Input range */
.wrapper__range{
    margin-left: 85px;
}
input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top:0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}
.slider__track{
    width: 100%;
    height: 5px;
    background-color: #C4C4C4;
    position: absolute;
    margin: auto;
    top:0;
    bottom: 0;;
}
.search__range{
    position: relative;
    width: 300px;
    height: 50px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 17px;
    width: 17px;
    background-color: white;
    border:2px solid #C4C4C4;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: auto;
}
input[type="range"]:active::-webkit-slider-thumb {
    border-color: #FEC341;
}
/* end input range */
.values{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
}
.value{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88px;
    height: 35px;
    background-color: #fff;
    border-radius: 20px;
    margin-left: 10px;
    font-weight: 600;
}
.values>span:nth-child(4){
    padding-left: 30px;
}
.values>span:nth-child(3),.values>span:nth-child(6){
    font-weight: 600;
    padding-left: 4px;
}
.btn__search{
    margin-top: 40px;
}
@media screen and (max-width:1650px) {
    .search__img{
        right: 0;
    }
}
@media screen and (max-width:1530px) {
    .search__inputs{
        justify-content: flex-start;
    }
}
@media screen and (max-width:1420px) {
    .search__check{
        width: 50%;
    }
}
@media screen and (max-width:1330px) {
    .search__inputs{
        justify-content: space-around;
    }
    .search__img>img{
        width: 70%;
    }
    .search__img{
        bottom: -70px;
    }
    .search>.container{
        padding: 0 100px;
    }
}
@media screen and (max-width:1140px) {
    .search__check{
        width: 60%;
    }
}
@media screen and (max-width:980px) {
    .search__img{
        display: none;
    }
    .search>.container{
        padding: 0 65px;
    }
    .check__category{
        flex-direction: row;
    }
    .wrap__check_category{
        flex-direction: column;
        height: 100%;
    }
    .wrap__check_category>div{
        height: 50px;
    }
}
@media screen and (max-width:920px) {
    .search>.container{
        padding: 0 25px;
    }
}
@media screen and (max-width:768px) {
    .wrapper__range{
        margin-left: 0;
    }
}
@media screen and (max-width:700px) {
    .search__inputs{
        flex-direction: column;
        align-items: center;
    }
    .check__category{
        justify-content: center;
    }
}
@media screen and (max-width:400px) {
    .wrap__check_category>div {
        width: 130px;
        display: flex;
        align-items: center;
    }
}


/* catalog */

.catalog{
    padding: 70px 0;
}
.catalog__preview{
    display: flex;
    flex-direction: column;
}
.preview__row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.loader{
    height: 100%;
    display: flex;
    align-items: center;
}
.loader>img{
    width: 70px;
    height: 70px;
}
.card__wrap{
    display: flex;
    justify-content: center;
    height: 470px;
    flex: 1 1 24%;
    background-color: #fff;
    border-radius: 25px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 470px;
    background-color: #fff;
    padding: 20px 10px 25px;
    border-radius: 25px;
}
.card__wrap:hover{
    cursor: pointer;
    box-shadow: 0px 0px 15px #d5d4d4;
}
.card__wrap:not(:last-child){
    margin-right: 32px;
}
.card__img{
    max-width: 85%;
    max-height: 100%;
}
.card__img_wrap {
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card__desc_wrap {
    height: 35%;
    display: flex;
    flex-direction: column;
}
.card__title{
    font-weight: 600;
    text-align: center;
    padding-bottom: 8px;
    padding-top: 5px;
}
.card__price{
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 18px;
    text-align: center;
}
.catalog__btn{
    margin: 0px auto 75px;
}
/* subblock */

.block__img_main{
    position: relative;
    height: 500px;
    background: no-repeat center/cover url("../../assets/img/image12.png");
    color:white;
    line-height: 19px;
    margin-bottom: 32px;
    border-radius: 25px;
}
.block__text{
    max-width: 410px;
    position: absolute;
    right: 94px;
    top: 120px;
}
.block__title{
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    padding-bottom: 15px;
}
.block__btn{
    background-color: transparent;
    color:white;
    font-weight: 600;
    font-size: 16px;
    padding-top: 38px;
}
.block__btn:hover{
    color:rgb(182, 182, 182);
    transition: color ease 0.5s;
}
.subblock__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.subblock__container:first-child{
    margin-right: 15px;
}
.subblock{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.subblock__img{
    max-height: 440px;
    max-width: 100%;
    border-radius: 25px;
}
.btn_black{
    color: #000000;
}
.btn_black:hover{
    color: #666666;
}
.subblock__title{
    padding-top: 27px;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
}
.subblock__text{
    padding-top: 13px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width:1024px) {
    .preview__row:last-child{
        display: none;
    }
    .preview__row{
        flex-wrap: wrap;
        margin-bottom: 5px;
    }
    .card__wrap{
        margin-bottom: 35px;
        flex: 1 1 45%;
    }
    .card__wrap:nth-child(even){
        margin-right: 0px;
    }
    .block__text{
        right: 3%;
        max-width: 40%;
    }
    .block__title{
        font-size: 30px;
        line-height: 35px;
    }
}
@media screen and (max-width:920px){
    .catalog>.container{
        padding: 0 25px;
    }
}
@media screen and (max-width:650px){
    .block__text{
        max-width: 65%;
        top: 30px;
    }
    .block__btn{
        padding-top: 10px;
    }
}
@media screen and (max-width:580px){
    .card__wrap{
        flex: 1 1 70%;
    }
    .card__wrap:not(:last-child){
        margin-right: 0;
    }
    .subblock{
        flex-wrap: wrap;
    }
    .subblock__container:first-child{
        margin-right: 0;
        margin-bottom: 40px;
    }
}
@media screen and (max-width:430px) {
    .block__text{
        max-width: 75%;
    }
    .block__title{
        font-size: 20px;
        line-height: 25px;
    }
    .block__about{
        font-size: 14px;
    }
}
/* about */
.about {
    min-height: 550px;
    background-color: #F1F1F1;
}
.about>.container{
    padding: 83px 215px 78px;
}
.about__title{
    padding-bottom: 20px;
}
.about__text{
    max-width: 830px;
    margin: 0 auto;
    line-height: 22px;
    text-align: center;
}
.about__wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 52px;
}
.about__block{
    width: 200px;
    min-height: 215px;
    padding: 10px 5px;
}
.about__block_text{
    font-weight: 600;
    padding-top: 10px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
}
@media screen and (max-width:1230px){
    .about>.container{
        padding: 83px 115px 78px;
    }
}
@media screen and (max-width:1230px){
    .about>.container{
        padding: 83px 65px 78px;
    }
}
@media screen and (max-width:920px){
    .about>.container{
        padding: 83px 25px 78px;
    }
}
@media screen and (max-width:850px){
    .about__block{
        width: 150px;
    }
    .about__block>img{
        width: 100%;
    }
}
@media screen and (max-width:650px){
    .about__wrapper{
        flex-wrap: wrap;
    }
    .about__block{
        width: 45%;
    }
}

.points__content{
    display: flex;
    justify-content: center;
}
.points__wrap{
    display: flex;
    justify-content: space-between;
    width: 70px;
    color:red; 
    position: absolute; 
    z-index: 99; 
    bottom: 30px;
}
.points{
    border: 2px solid white;
    background-color: #fff;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
._visible{
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);
    transition: all ease 1s;
}
._hidden{
    visibility: hidden;
    opacity: 0;
    transform: translateX(1000px);
    transition: all ease 1s;
}
._dissable{
    opacity: 0.3;
}
._active{
    opacity: 1;
}


