.form-product{
    max-width: 500px;
    min-width: 290px;
    min-height: 300px;
    margin: 10vh auto 0;
    padding: 20px;
    background-color: #EFF2F4;
    border-radius: 20px;
}
.form-title{
    font-size: 20px;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 600;
    text-align: center;
    padding-bottom: 30px;
}
.form-control{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.form-control label{
    font-size: 16px;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 600;
}
.form-control input, select{
    border: 1px solid black;
    height: 35px;
    padding: 5px 10px;
    margin-top: 5px;
    border-radius: 25px;
}
.form-control>.border-none{
    border-radius: 0px;
    border: none;
    padding: 5px 0px;
}
input.ng-touched.ng-invalid {
    border:solid #FF1919 1px;
}
input.ng-touched.ng-valid {
    border:solid #00CB21 1px;
}
option:hover{
    background-color:#FEC341;
}
.dangerMessage{
    color: #FF1919;
}
.modal{
    position: absolute;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
}
.modal__content{
    width: 320px;
    height: 250px;
    background-color: #fff;
    border-radius: 15px;
    margin: 10% auto;
    text-align: center;
    padding: 70px 20px;
    font-size: 16px;
    font-weight: 600;
}
.modal__content>img{
    padding-bottom: 30px;
}
._hid {
    display: none;
}
._act {
    display: block;
}

@media screen and (max-width:530px){
    .form-product{
        margin-left: 15px;
        margin-right: 15px;
    }
}