/* You can add global styles to this file, and also import other style files */
/* файл для сброса стандартных стилей браузеров */

*{
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:after, *:before{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{
    outline: none;
}

a:focus, a:active{
    outline: none;
}

nav, footer, header, aside{
    display: block;
}

html, body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: "Proxima Nova", sans-serif;
    font-size: 16px;
}

input, button, textarea{
    font-family: inherit;
}

input::-ms-clear{
    display: none;
}

button{
    cursor: pointer;
}

button::-moz-focus-inner{
    padding: 0;
    border:0;
}

a, a:visited{
    text-decoration: none;
    color: black
}

a:hover{
    text-decoration: none;
}

ul li{
    list-style: none;
}

img{
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6{
    font-size: inherit;
    font-weight: 400;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 65px;
}
.btn{
    font-weight: 600;
    padding: 16px 60px;
    background-color: #FEC341;
    border-radius: 25px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
}
.btn:hover{
    transition: all ease .5s;
    background-color: #ffae00;
}
.bc{
    background-color: #efefef63;
  }

/* fonts */
@font-face {
    font-family: 'Proxima Nova';
    font-style:normal;
    font-weight: 300;
    src: url(./assets/fonts/proximanova_light.otf) format('opentype');
}
@font-face {
    font-family: 'Proxima Nova';
    font-style:normal;
    font-weight: 400;
    src: url(./assets/fonts/proximanova_regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Proxima Nova';
    font-style:normal;
    font-weight: 600;
    src: url(./assets/fonts/proximanova_extrabold.otf) format('opentype');
}
@font-face {
    font-family: 'Proxima Nova';
    font-style:normal;
    font-weight: 900;
    src: url(./assets/fonts/proximanova_black.ttf) format('truetype');
}
 